@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    margin: 0 auto;
}
/* estilos header */

.header-primary {
    padding: 8px;
    background: #1CD1B0;
    font-size: 15px;
    font-weight: 400px;
}
.header-secound {
    box-shadow: 4px 4px 4px 1px rgba(0, 100, 158, 0.37);
    background: #00669F;
    font-size: 40px;
    padding: 20px;
}
/* estilos de las tarjetas */
.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-container {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #F3F3F3;
    position: relative;
    text-align: center;
    width: 300px;
    height: 500px;
    border-radius: 20px 20px 0 0;
    margin: 10px;
}

.card--fond-image {
    position: relative;
    
}
.card--photo-image {
    position: relative;
    z-index: 5;
    bottom: 65px;
}
.card--photo-image img {
    border-radius: 50%;
}
h2 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px;
}
p {
    font-style: normal;
    font-weight: 400px;
    font-size: 15px;
    margin: 10px;
    text-align: left;
}
button {
    position: relative;
    margin-top: 30px;
    text-align: center;
    bottom: 20px;
    background: #00669F;
    border-radius: 2px;
    border: none;
    color: #F3F3F3;
    font-size: 16px;
    width: 128px;
    height: 40px;
}
.corazon {
    position: absolute;
    top: 4px;
    margin: 10px;
}
/* esrilos del footer */
footer {
    margin-top: 100px;
    background: #00669F;
    padding: 15px;
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}